* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

#container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #fff6e2 0%, #fec854 98%);
}

.title {
  background-color: #ffdd8d;
  color: #fff;
  padding: 2rem;
  text-align: center;
  text-shadow: 2px 4px 2px #000;
  border-bottom: 2px solid #ffd676;
  display: block;
}

.images-container {
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-bottom: 1px solid #999;
  padding-bottom: 4rem;
}

.images-container:last-child {
  border-bottom: none;
  padding-bottom: 2rem;
}

figure {
  color: #444;
  text-align: center;
  text-shadow: 2px 1px 2px #ffd676;
  font-weight: bold;
}

.images-container img {
  width: 1000px;
  height: 600px;
  margin: 3rem auto 4px;
  border-radius: 3px;
}

@media (max-width: 480px) {

    .images-container {
        padding-bottom: 3rem;
    }
    
    .images-container img{
        width: 300px;
        height: 150px;
        margin: 2rem auto 0;        
    }

}